
<div class="section-main"> 
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg g-container--fit_xl-xl">
    <div class="title-wrapper">
      <p class="title">best lunch
      </p><img class="image" src="../static/img/icon/pizza.png"/>
    </div>
    <div class="record-wrapper"> 
      <div class="record-wrapper__item record-wrapper__item--second">
        <div class="place-wrap"><img class="image" src="../static/img/icon/2.png"/>
          <p class="text">2nd place
          </p>
        </div><img class="image" src="../static/img/Best/2.png"/>
        <p class="text">2:51:14
        </p>
      </div>
      <div class="record-wrapper__item record-wrapper__item--first">
        <div class="place-wrap"><img class="image" src="../static/img/icon/1.png"/>
          <p class="text">1st place
          </p>
        </div><img class="image" src="../static/img/Best/1.png"/>
        <p class="text">3:13:08
        </p>
      </div>
      <div class="record-wrapper__item record-wrapper__item--third">
        <div class="place-wrap"><img class="image" src="../static/img/icon/3.png"/>
          <p class="text">3rd place
          </p>
        </div><img class="image" src="../static/img/Best/3.png"/>
        <p class="text">2:45:24
        </p>
      </div>
    </div>
    <div class="new-record-wrapper">
      <div class="title-wrapper">
        <p class="title">new target
        </p><img class="image" src="../static/img/icon/target.png"/>
      </div>
      <div class="line-wrapper">
        <div class="need">
          <p class="text">3:30
          </p>
        </div>
        <div class="line">
          <div class="line line--now">
          </div>
        </div>
        <div class="now-recond-wrapper"> 
          <p class="text">now 3:13:08
          </p>
        </div>
      </div>
    </div>
    <div class="bad-record-wrapper">
      <div class="title-wrapper">
        <p class="title">fast lunch
        </p><img class="image" src="../static/img/icon/fast.png"/>
      </div>
      <div class="fast">
        <div class="fast__item fast__item--second">
          <div class="place-wrap">
            <p class="text">2nd place
            </p>
          </div><img class="image" src="../static/img/Loose/2.png"/>
          <p class="text">1:57:51
          </p>
        </div>
        <div class="fast__item fast__item--first">
          <div class="place-wrap">
            <p class="text">1st place
            </p>
          </div><img class="image" src="../static/img/Loose/1.png"/>
          <p class="text">1:41:45
          </p>
        </div>
        <div class="fast__item fast__item--third">
          <div class="place-wrap">
            <p class="text">3rd place
            </p>
          </div><img class="image" src="../static/img/Loose/3.png"/>
          <p class="text">2:02:24
          </p>
        </div>
      </div>
    </div>
  </div>
</div>